Repository Orfium/drf-playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, system

isort:
  name: isort
  language: system
  entry: isort --settings-path=.pre-commit
  require_serial: true

system:
  entry: pylint --rcfile=.pre-commit/.pylintrc
  language: system
  name: PyLint

fix: Run pre-commit
  config/urls.py
  production.yml
  requirements/base.txt
Due: isort, system

fix: Run pre-commit in all files
  .envs/.local/.django
  README.rst
  app.json
  compose/production/django/start
  compose/production/traefik/traefik.yml
  config/api_router.py
  config/settings/base.py
  config/settings/production.py
  datadog/prerun.sh
  drf_playground/common/error_handling.py
  drf_playground/common/tasks.py
  drf_playground/common/tests/test_error_handling.py
  drf_playground/common/tests/test_tasks.py
  drf_playground/contrib/sites/migrations/0001_initial.py
  drf_playground/contrib/sites/migrations/0002_alter_domain_unique.py
  drf_playground/contrib/sites/migrations/0003_set_site_domain_and_name.py
  drf_playground/templates/base.html
  drf_playground/templates/pages/home.html
  drf_playground/users/api/serializers.py
  drf_playground/users/api/views.py
  drf_playground/users/api/viewsets.py
  drf_playground/users/models.py
  drf_playground/users/tasks.py
  drf_playground/users/tests/api/test_serializers.py
  drf_playground/users/tests/api/test_viewsets.py
  drf_playground/users/tests/factories.py
  drf_playground/users/tests/test_tasks.py
  drf_playground/users/tests/test_views.py
  drf_playground/users/urls.py
  merge_production_dotenvs_in_dotenv.py
  requirements/base.txt
  requirements/local.txt
Due: isort, system

ci(pre-commit): fix pre-commit issues across all files
  .github/workflows/ci.yml
  local.yml
  requirements/base.txt
  requirements/local.txt
  requirements/production.txt
Due: none

fix(Celery): yse Celery 4/5 compatible run command
  Procfile
Due: none

fix(celery): read CELERY_BROKER_URL from REDIS_URL env var
  config/settings/base.py
Due: none

ci(bump): fix bump step devDependencies
  package.json
Due: none

Notes added by 'git notes add'
  4207ac2cd11adefd23e99a6dfeea252b4a78c8f6
Due: none

fix(users): add missing migrations on users app
  drf_playground/contrib/sites/migrations/0004_alter_site_options.py
  drf_playground/users/migrations/0003_alter_profile_user.py
Due: system

Notes added by 'git notes add'
  a4236d454b820783721e447da3feb986ddc250d6
Due: none

feat(deploy): add post_complile script
  bin/post_compile
  config/settings/production.py
Due: none

Notes added by 'git notes add'
  a1bd9e1f0ab6ea2d79f58c1a140514286d47abcd
Due: none

build(app.json): add datadog buildpack on app.json
  app.json
Due: none

fix(Datadog): fix Postgres integration with Datadog
  datadog/conf.d/postgres.yaml
Due: none

fix(Datadog): fix parsing of service names
  datadog/prerun.sh
Due: none

Notes added by 'git notes add'
  04731e126fba16bbb9406bdce7578db3bafaeb48
Due: none

feat: Add files and file owners
  .envs/.local/.postgres
  config/api_router.py
  config/settings/base.py
  drf_playground/contrib/sites/migrations/0001_initial.py
  drf_playground/contrib/sites/migrations/0002_alter_domain_unique.py
  drf_playground/contrib/sites/migrations/0003_set_site_domain_and_name.py
  drf_playground/contrib/sites/migrations/0004_auto_20210730_1314.py
  drf_playground/contrib/sites/migrations/__init__.py
  drf_playground/files/__init__.py
  drf_playground/files/api/serializers.py
  drf_playground/files/api/views.py
  drf_playground/files/api/viewsets.py
  drf_playground/files/migrations/0001_initial.py
  drf_playground/files/migrations/0002_auto_20210730_1320.py
  drf_playground/files/migrations/0003_auto_20210910_1505.py
  drf_playground/files/migrations/0004_details_owner.py
  drf_playground/files/migrations/__init__.py
  drf_playground/files/models.py
  drf_playground/files/urls.py
  drf_playground/users/migrations/0002_create_super_user.py
  drf_playground/users/migrations/0003_auto_20210730_1314.py
Due: isort, system

feat: Delete files after rebase
  drf_playground/contrib/sites/migrations/0004_auto_20210730_1314.py
  drf_playground/users/migrations/0003_auto_20210730_1314.py
Due: system

feat: Revert local env
  .envs/.local/.postgres
Due: none

feat: Add bearer authentication
  compose/local/django/old.Dockerfile
  config/authentication.py
  config/settings/base.py
  docker-compose.yml
Due: isort, system

feat: Add docker-compose.yml
  compose/local/django/Dockerfile
  docker-compose.yml
  local.yml
Due: none

feat: Delete docker related files
  compose/local/django/Dockerfile
  docker-compose.yml
Due: none

feat: Fix dockerfile name
  local.yml
Due: none

feat: Add files-users relationship
  drf_playground/files/api/serializers.py
  drf_playground/files/api/viewsets.py
  drf_playground/files/models.py
  drf_playground/users/api/serializers.py
Due: isort, system

chore: removing datadog-buildpack from review apps [#DEVOPS-578]
  app.json
Due: none

Path conditions:
  isort: any of: \.py$ and not ((/settings/|/migrations/)) and not (node_modules|.git|.tox)
  system: any of: \.py$ and not ((/settings/)) and not (node_modules|.git|.tox)
